option_settings:
  aws:elbv2:listener:9999:
    DefaultProcess: http
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:default:
    Port: 9999
  aws:elb:listener:
    InstancePort: 9999
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTP:9999/